/* boilerplate */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* Bar 1 */

.top {
  background: rgb(1, 1, 112);
}
.container {
  padding-left: 50px;
  padding-right: 50px;
}
.topbar {
  background: rgb(1, 1, 112);
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  padding: 15px;
}
.CONTACTS a {
  text-decoration: none;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.links a {
  text-decoration: none;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.btn {
  color: white;
  padding: 5px;
  background: rgb(1, 1, 112);
  border: 1px double white;
  border-radius: 5px;
}

/* Bar 2 */

.mid {
  background-color: whitesmoke;
}
.searchbar {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-bottom: 10px;
}
.logo {
  text-align: center;
}
.search {
  display: flex;
}
.bar {
  width: 900px;
  color: rgb(197, 189, 189);
  padding-left: 8px;
 
}
.btn2 {
  background: red;
  color: white;
  border: none;
  padding: 3px;
}
.ri-search-line {
  padding: 2px;
  border: 0.1px black;
  background-color: white;
  padding: 0.1px;
}

/* Hero */

.Hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 40px;
  background-color: rgb(235, 240, 245);
  padding-bottom: 20px;
}

.headp{
  color: rgb(29, 29, 126);
  font-size: 40px;
  padding-bottom: 10px;
}

.paragraph1{
  font-size: 20px;
}

.head2 {
  padding: 40px;
  padding-left: 0px;
}

.headjoin{
  font-size: 30px;

}
.btnwf{
  padding-top: 10px;

}

.wbtn{
  padding: 7px;
  color: white;
  background-color: #24aca0;
  border: none;
  border-radius: 5px;
}

.fbtn{
  padding: 7px;
  color: white;
  background-color: rgb(2, 2, 151);
  border: none;
  border-radius: 5px;
}