.Hello {
  color: yellowgreen;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 200px;
  background-color: teal;
  font-size: 50px;
}

a {
  text-decoration: none;
  color: tomato;
  font-size: 20px; 
  padding: 50%;
}

button {
  background-color: aqua;
  border: none;
  color: blue;
  padding: 100px;
}
